{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock otherStyles %}
{% block content %}

<div class="d-flex flex-column">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Reset email sent!</h4>
  <p>Instructions were sent to you for setting your password, if an account exists with the email
    you entered.</p>
  <hr>
  <p class="mb-0">
    If you don't receive an email, please make sure you have entered the email address you registered
    with, and check your spam folder.
  </p>
</div>
<p class="m-auto p-2"><a href="{% url 'osms-home' %}">Return to home page</a></p>
</div>

{% endblock content %}
{% block otherScripts %}
{% endblock otherScripts %}
