{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock otherStyles %}
{% block content %}

<div class="d-flex flex-column">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Password updated!</h4>
</div>
<p class="m-auto p-2"><a href="{% url 'osms-home' %}">Return to home page</a></p>
</div>

{% endblock content %}
{% block otherScripts %}
{% endblock otherScripts %}
