{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock otherStyles %}
{% block content %}

<div class="col-sm-6 mx-auto">
  <div class="card">
    <h5 class="card-header default-color white-text text-center py-4">
    <strong>Change password</strong>
    </h5>
      <div class="card-body px-lg-5 pt-0">
        <form action="#!" style="color: #757575;" method="post">
          {% csrf_token %}

          <!-- Old Password -->
          <div class="md-form">
            <label for="id_old_password">Old password</label>
            {% render_field form.old_password class="form-control" %}
          </div>
          <!-- New Password -->
          <div class="md-form">
            <label for="id_new_password1">New password</label>
            {% render_field form.new_password1 class="form-control" %}
            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>
          </div>
          <!-- Confirm password -->
          <div class="md-form">
            <label for="id_new_password2">Confirm password</label>
            {% render_field form.new_password2 class="form-control" %}
          </div>

          {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% endfor %}

          <!-- Submit -->
          <div class="md-form">
            <button class="btn btn-outline-default btn-rounded btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}
{% block otherScripts %}
<script type="text/javascript" src="{% static 'main/js/cleave.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/register.js' %}"></script>
{% endblock otherScripts %}
