{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
{% endblock otherStyles %}
{% block content %}

<!-- Grid row -->
<div class="row">
  <div class="col-lg-4 col-sm-12 sidebarpad pr-1 ml-5">
    <div class="card">
      <div class='sidebar'>
        <div class="img-fluid">
            <img src="{{ user.profile.image.url }}" class="img-fluid z-depth-1" alt="Card image cap">
        </div>
        <br>
      <div class="profile-head">
        <h4><strong>{{user.username}}</strong></h4>
        <h3>{{ user.firstname }} <span style="text-transform: uppercase;">{{ user.lastname }}</span></h3>
        <h5>{{ user.directorate }}</h5>
      </div>
      <hr id="profile-head-hr">
      <ul class="nav flex-column nav-pills nav-fill mb-3" id="pills-tab" role="tablist" aria-orientation="vertical">
        <li class="nav-item pill-1">
          <a class="nav-link active" id="pills-profile-tab" href="{% url 'profile' %}"
            aria-controls="pills-profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item pill-2">
          <a class="nav-link" id="pills-trips-tab" href="{% url 'profile-trips' %}"
            aria-controls="pills-trips" aria-selected="false">Activities</a>
        </li>
        <li class="nav-item pill-3">
          <a class="nav-link" id="pills-hoir-tab" href="{% url 'profile-hoirs' %}"
            aria-controls="pills-hoir" aria-selected="false">HOIRs</a>
        </li>
        <li class="nav-item pill-4">
          <a class="nav-link" id="pills-ocsr-tab" href="{% url 'profile-oscrs' %}"
            aria-controls="pills-oscr" aria-selected="false">OSCRs</a>
        </li>
        <li class="nav-item pill-5">
          <a class="nav-link" id="pills-closeout-tab" href="{% url 'profile-closeouts' %}"
            aria-controls="pills-closeout" aria-selected="false">Close-out</a>
        </li>
        <li class="nav-item pill-6">
          <a class="nav-link" id="pills-dash-tab" href="{% url 'dash' %}"
            aria-controls="pills-dash" aria-selected="false">Dashboard</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 profilepad pl-1">
    <div class="card profile-card">
      <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
          <!-- Profile start -->
          <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <h2>Profile</h2>
            <hr id="title_hr">
            <br>
            <form id="editForm" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- First and Last name -->
                <div class="form-row">
                  <div class="col-lg-4 col-sm-12">                    <!-- Username -->
                    <div class="md-form md-modal">
                      <label for="id_username">Username</label>
                      {% render_field u_form.username class="form-control md-modal" %}
                      {{ u_form.username.errors }}
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <!-- First name -->
                    <div class="md-form md-modal">
                      <label for="id_firstname">First name</label>
                      {% render_field u_form.firstname class="form-control md-modal" %}
                      <div class="help-block">{{ u_form.firstname.errors }}</div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <!-- Last name -->
                    <div class="md-form md-modal">
                      <label for="id_lastname">Last name</label>
                      {% render_field u_form.lastname class="form-control md-modal" %}
                      <div class="help-block">{{ u_form.lastname.errors }}</div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-6 col-sm-12">
                    <!-- Phone number -->
                    <div class="md-form md-modal">
                      <label for="id_phone">Phone number</label>
                      {% render_field u_form.phone class="form-control md-modal" %}
                      <div class="help-block">{{ u_form.phone.errors }}</div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <!-- E-mail -->
                    <div class="md-form md-modal">
                      <label for="id_email">Email</label>
                      {% render_field u_form.email class="form-control md-modal" %}
                      <div class="help-block">{{ u_form.email.errors }}</div>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Directorate -->
                    <div class="form-group md-modal">
                      <label for="id_directorate">Directorate</label>
                      {% render_field u_form.directorate class="mdb-select md-form md-modal colorful-select dropdown-default" %}
                      {{ u_form.directorate.errors }}
                    </div>
                  </div>
                </div>
                <!-- Profile picture -->
                <h5 class="ml-0 mr-0">Profile image:</h5>
                <p>Currently: <strong style="color:#2BBBAD">{{p_form.image.value}}</strong></p>
                <div class="md-form">
                  <div class="file-field">
                    <div class="btn btn-default btn-sm float-left">
                      <span>Choose file</span>
                      <input type="file" id="id_image" name="image">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate md-modal" type="text" placeholder="Upload your file">
                    </div>
                    {% if p_form.picture.errors %}
                      {% for error in p_form.picture.errors %}
                        <br><span class="text-danger">{{ error }}</span><br>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <button class="btn btn-default btn-rounded btn-sm" type="submit">Save changes</button>
                  <a href="{% url 'password_change' %}" class="btn btn-default btn-rounded btn-sm">Change password</a>
                </div>
            </form>
          </div>
          <!-- Profile end -->
          <div class="tab-pane fade" id="pills-trips" role="tabpanel" aria-labelledby="pills-trips-tab">

          </div>
          <div class="tab-pane fade" id="pills-hoir" role="tabpanel" aria-labelledby="pills-hoir-tab">

          <div class="tab-pane fade" id="pills-oscr" role="tabpanel" aria-labelledby="pills-oscr-tab">

          </div>
          <div class="tab-pane fade" id="pills-closeout" role="tabpanel" aria-labelledby="pills-closeout-tab">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}

{% block otherScripts %}
<script type="text/javascript" src="{% static 'main/js/cleave.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/profile.js' %}"></script>
{% endblock otherScripts %}
