{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
{% endblock otherStyles %}
{% block content %}

<!-- Grid row -->
<div class="row">
  <div class="col-lg-4 col-sm-12 sidebarpad">
    <div class="card testimonial-card profile-card">
      <div class="card-up teal-trips lighten-1"></div>
        <div class="avatar mx-auto white">
          <img src="{{ user.profile.image.url }}" class="rounded-circle circle-img"
            alt="avatar">
        </div>
        <br>
      <div class="profile-head">
        <h4><strong>{{user.username}}</strong></h4>
        <h3>{{ user.firstname }} <span style="text-transform: uppercase;">{{ user.lastname }}</span></h3>
        <h5>{{ user.directorate }}</h5>
      </div>
      <hr id="profile-head-hr">
      <ul class="nav flex-column nav-pills nav-fill mb-3" id="pills-tab" role="tablist" aria-orientation="vertical">
        <li class="nav-item pill-1">
          <a class="nav-link" id="pills-profile-tab" href="{% url 'profile' %}"
            aria-controls="pills-profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item pill-2">
          <a class="nav-link active" id="pills-trips-tab" href="{% url 'profile-trips' %}"
            aria-controls="pills-trips" aria-selected="false">Activities</a>
        </li>
        <li class="nav-item pill-3">
          <a class="nav-link" id="pills-hoir-tab" href="{% url 'profile-hoirs' %}"
            aria-controls="pills-hoir" aria-selected="false">HOIRs</a>
        </li>
        <li class="nav-item pill-4">
          <a class="nav-link" id="pills-ocsr-tab" href="{% url 'profile-oscrs' %}"
            aria-controls="pills-oscr" aria-selected="false">OSCRs</a>
        </li>
        <li class="nav-item pill-5">
          <a class="nav-link" id="pills-closeout-tab" href="{% url 'profile-closeouts' %}"
            aria-controls="pills-closeout" aria-selected="false">Close-out</a>
        </li>
        <li class="nav-item pill-6">
          <a class="nav-link" id="pills-dash-tab" href="{% url 'dash' %}"
            aria-controls="pills-dash" aria-selected="false">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-8 col-sm-12 profilepad">
    <div class="card profile-card">
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <!-- Profile start -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            </div>
            <!-- Profile end -->
            <div class="tab-pane fade show active" id="pills-trips" role="tabpanel" aria-labelledby="pills-trips-tab">
              <h2>Activities</h2>
              <hr id="title_hr_trip">
              <br>
              {% for trip in trips_list %}
                <section class="my-1">
                  <!-- Section heading -->
                  <div class="row">
                    <div class="col-lg-8 col-xl-10">
                      <h3 class="font-weight-bold mb-3"><strong>{{ trip.dest_name }}</strong></h3>
                      <h2><a class="article-title">{{ trip.purpose }}</a></h2>
                      <p class="dark-grey-text"">{{ trip.dest_city }}, {{ trip.dest_province }}</p>
                      <p><a class="dark-grey-text">Risk score: <strong>{{ trip.risk_sum }}</strong></a></p>
                      <p>by <a class="font-weight-bold">{{ trip.officer.username }}</a>, {{ trip.date_created|date:'F d, Y' }}</p>
                      <a href="{% url 'trip-detail' trip.id %}" class="btn btn-trip btn-rounded btn-sm">Details</a>
                      <a href="{% url 'trip-update' trip.id %}" class="btn btn-trip btn-rounded btn-sm">Update</a>
                      <a href="#" class="btn btn-trip btn-rounded btn-sm">PDF</a>
                    </div>
                  </div>
                </section>
                <hr class="my-5">
              {% endfor %}
              <!-- pagination start -->
                <nav>
                  <ul class="pagination pg-trip">
                    {% if trips_list.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ trips_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% endif %}
                    {% for num in trips_list.paginator.page_range %}
                      {% if trips_list.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if trips_list.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ trips_list.next_page_number }}"aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                      {% endif %}
                  </ul>
                </nav>
                <!-- pagination end -->
            </div>
            <div class="tab-pane fade" id="pills-hoir" role="tabpanel" aria-labelledby="pills-hoir-tab">

            </div>
            <div class="tab-pane fade" id="pills-oscr" role="tabpanel" aria-labelledby="pills-oscr-tab">

            </div>
            <div class="tab-pane fade" id="pills-closeout" role="tabpanel" aria-labelledby="pills-closeout-tab">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>


</div>
{% endblock %}

{% block otherScripts %}
<script type="text/javascript" src="{% static 'main/js/cleave.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/profile.js' %}"></script>
{% endblock otherScripts %}
