{% extends "layout.html" %}
{% load static %}
{% block otherStyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/landing.css' %}">
{% endblock %}
{% block content %}
<!-- Intro -->
<div class="container-landing">

  <div class="row">
    <div class="col-4 image-logo pr-1 pt-5">
      <img src="{% static 'main/img/logo4.png' %}" class="img-fluid logo-title" alt="logo">
    </div>
    <div class="col-6 title-OSMS pt-5">
      <div class="justify-content-center align-items-center h-100">
        <h2 class="h2-fluid heading display-3">Officer Safety Management System</h2>
        <h4 class="subheading font-weight-bold"> Light and open source data system</h4>
      </div>
    </div>
    <div class="col-6">
    </div>
  </div>

</div>
<!-- Intro -->
{% endblock content %}
{% block otherScripts %}
{% endblock otherScripts %}
