{% extends "layout.html" %}
{% load static %}
{% block otherStyles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/landing.css' %}">
{% endblock %}
{% block content %}
<!-- Intro -->
<div class="container-landing">

  <div class="row">
    <div class="col-lg-6 col-sm-12 image-logo pr-1 pt-5">
      <img src="{% static 'main/img/logo3.png' %}" class="img-fluid logo-title" alt="logo" style="display:block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="col-lg-6 col-sm-12 title-OSMS pt-5">
      <div class="justify-content-center align-items-center h-100">
        <h3 class="h2-fluid heading display-3">Officer Safety Management System</h3>
        <h4 class="subheading font-weight-bold"> Light and open source data system</h4>
      </div>
    </div>

  </div>

</div>
<!-- Intro -->
{% endblock content %}
{% block otherScripts %}
{% endblock otherScripts %}
