{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block otherStyles %}
  <!-- Mapbox -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/offices.css' %}">
{% endblock otherStyles %}
{% block content %}

<!-- Grid row -->
<div class="row justify-content-center">
  <div class="col-lg-9 col-sm-12 mappad pl-1 pr-1">
    <div class="card map-card">
      <div id='map' class='map pad2' style='width: 100%; height: 85vh;'></div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-12 sidebarpad pl-1 pr-1">
    <div class="card">
      <div class='sidebar'>
        <div class='heading'>
          <h1>Office locations</h1>
        </div>
        <!-- Search form -->
        <div class="md-form active-cyan active-cyan-2 mt-0">
          <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">
        </div>

        <div id='listings' class='listings'></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block otherScripts %}
  <script type="text/javascript">
    var data = {{offices|safe}};
    var mapbox_token = {{mapbox_token|safe}};
  </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <!-- Others -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script type="text/javascript" src="{% static 'main/js/offices.js' %}"></script>

{% endblock otherScripts %}
