{% extends "layout.html" %}
{% load static %}
{% block otherStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/oscr_detail.css' %}">
{% endblock otherStyles %}
{% block content %}
<div class="col-lg-8 col-sm-12 mx-auto">
  <div class="card h-100">
    <div class="card-body">
      <h2>{{ object.location }}</h2>
      <p class="dark-grey-text"">{{ object.occurence_date_hazard|date:'F d, Y'}}</p>
      <hr id="title_hr_OSCR">
      <p>by <a class="font-weight-bold">{{ object.officer.username }}</a>, {{ object.date_created|date:'F d, Y' }}</p>
      <h5>Occurence description:</h5>
        <p>{{ object.occurence_description }}</p>
      {% if object.officer == user %}
        <a href="#" class="btn btn-deep-orange btn-sm btn-rounded">Update</a>
        <a href="#" class="btn btn-deep-orange btn-rounded btn-sm float-right">PDF</a>
      {% endif %}
      <br>
    </div>
  </div>
</div>
{% endblock content %}
{% block otherScripts %}
{% endblock otherScripts %}
