{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block otherStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/trip_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/pretrip.css' %}">
{% endblock otherStyles %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h2>{{ object.purpose }}</h2>
    <p class="dark-grey-text"">{{ object.start_date_planned|date:'F d, Y'}} to {{ object.end_date_planned|date:'F d, Y' }}</p>
    <hr id="title_hr_trip">
  </div>

</div>


{% endblock %}
{% block otherScripts %}
{% endblock otherScripts %}
