@media screen and (min-device-width: 375px) {
  .card {
    /* padding-left: 15px !important; */
    margin-bottom: .5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (min-device-width: 375px) {
  .map-row {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
  }
}

.card-body {
  padding: 1rem !important;
}
