.btn-pink {
color: #fff;
background-color: #e91e63!important;
}

.btn-deep-orange {
color: #fff;
background-color: #ff5722!important;
}

.btn-plan {
    color: #fff;
    background-color: #0a84ff !important;
}

.plan-text {
  color: #0a84ff !important;
}

.btn-post {
    color: #fff;
    background-color: #30d158!important;
}

.post-text {
  color: #30d158 !important;
}

.home-section {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 5px;
}
