
@media (min-width: 1200px) {
  .container-landing {
    max-width: 65%;
  }
}

.container-landing {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 30px; */
}

.col-sm-12.title-OSMS {
  padding-right: 15px !important;
}

img.logo-title {
  width: 30%;
  height: auto;
}

.col-sm-12 {
  padding-right: 15px !important;
}
