@media screen and (max-device-width: 734px) {
  .ml-5 {
    margin-left: 0rem !important;
  }
}


@media only screen and (min-device-height: 900px) {
  .mt-5 {
    padding-top: 3rem !important;
  }
}

@media only screen and (max-device-height: 870px) {
  .image-features {
    padding-top: 3rem !important;
  }
}

.title {
    margin-top: 0rem;
    margin-bottom: 0em;
    color: #212121;
}

.intro {
  height: 90vh;
}


.img-fluid {
    max-width: 80%;
    height: auto;
}

/* .view {
  background-position: center center;
} */


.container-landing {
    width: 100% !important;
    /* max-width: 100% !important; */
    /* padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 30px; */
}

.col-sm-12.title-OSMS {
  padding-right: 15px !important;
}

img.logo-title {
  width: 30%;
  height: auto;
}

.col-sm-12 {
  padding-right: 15px !important;
}

.deep-orange-text {
    color: #e91e63 !important;
}

.btn-pink {
  color: #fff;
  background-color: #e91e63 !important;
}

.btn-outline-pink {
  color: #e91e63 !important;
  background-color:
  transparent !important;
  border: 2px solid #e91e63 !important;
}

.btn-outline-pink:hover {
  color: #e91e63 !important;
  background-color:
  transparent !important;
  border-color: #e91e63 !important;
}

.btn-outline-pink:focus {
  color: #e91e63 !important;
  background-color:
  transparent !important;
  border-color: #e91e63 !important;
}
