@media (min-width: 1200px) {
  .container {
    max-width: 85%;
  }
}

/* @media (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

} */

.page-footer .top-footer-color {
    background-color: #ffff;
}

.errorlist {
  color: red;
  list-style-type: none;
}

.md-form label {
font-size: 1.1rem;
}

.select-wrapper input.select-dropdown {
    height: 40px;
}

.select-wrapper span.caret {
  color: #2BBBAD;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.h1-fluid {
font-size: calc(1rem + 3vw);
line-height: calc(1.4rem + 4.8vw);
}


.h2-fluid {
font-size: calc(2rem + 3vw);
line-height: calc(1.4rem + 4.8vw);
}

.h3-fluid {
font-size: calc(1rem + 1vw);
line-height: calc(1.4rem + 1.2vw);
}

.p-fluid {
font-size: calc(1rem + 0.5vw);
line-height: calc(1.4rem + 0.6vw);
}


.heading {
  @include responsive-font-size(4rem);
  font-weight: 700;
  color: #212121
}
.subheading {
  @include responsive-font-size(4rem);
  margin-top: 2rem;
  color: #9e9e9e
}
.btn.btn-margin {
  margin-left: 6rem;
  margin-top: 3rem;
}

.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #212121
}
.subtitle {
  color: #9e9e9e;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}

.form-check-inline .form-check-input {
position: static;
margin-top: 1.5;
margin-right: .3125rem;
margin-left: .5rem;
margin-bottom: 1.5rem;
}

.form-check-label {
  margin-bottom: 1.5rem;
}

#legislationLabel {
  margin-right: 1rem;
}

.form-control:focus {
  color: #2BBBAD;
}


.navbar.navbar-light .navbar-brand,
.navbar.navbar-light .navbar-brand:hover {
    color:  #212121;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #212121;
}

.navbar.navbar-light .navbar-nav .nav-item a {
    color: #212121;
}

.navbar-light form input[type=text] {
    border-bottom: 1px solid #212121;
}

.navbar-light form .form-control {
    color: #212121;
}

.navbar-light form .form-control::-webkit-input-placeholder {
    color: #212121 !important;
}

.navbar-light form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #212121 !important;
}

.navbar-light form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #2BBBAD !important;
}

.navbar-light form .form-control:-ms-input-placeholder {
    color: #212121 !important;
}

.container {
  margin-top: 15px;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


.animated-icon1 span {
background: #212121;
}

.animated-icon2 span {
background: #212121;
}

.animated-icon3 span {
background: #212121;
}

/* Icon 2*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Stepper */

.active .bs-stepper-circle {
background-color: #2BBBAD;
}

/* Profile */

.profile-head h5{
    color: #333;
}
/* .profile-head h6{
    color: #2BBBAD;
}

*/

.profile-head h3{
    font-weight: 200;
}

.profile-head span{
    font-weight: 800;
}

.profile-body .nav-tabs{
    margin-bottom:5%;
}
.profile-body .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-body .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #2BBBAD;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
}

/* cal */


.events-list {
  width: 100%;
  font-size: 0.9em;
}

.events-list tr td {
  padding: 5px 20px 5px 0;
}

.events-list tr td:last-child {
  padding: 5px 0;
  text-align: right;
}

.events-list tr:hover .event-date {
  border-left: 5px solid #4f8db3;
}

.events-list .event-date {
  margin: 3px 0;
  padding: 2px 10px;
  border-left: 5px solid #CFCFCF;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.events-list .event-date .event-day {
  color: #004A5B;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}

.events-list .event-date .event-month {
  color: #777;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
}

.events-list .event-date .event-venue,
.events-list .event-date .event-price {
  white-space: nowrap;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}
