
html {
  scrollbar-color: #0a84ff #DADADA;
  scrollbar-width: thin;
}

.row.print {
  display: block;
}

#title_hr_trip {
color:#0a84ff;
background-color:#0a84ff;
height:2px;
border:none;
max-width:100%;
}

.active .bs-stepper-circle {
    background-color: #0a84ff;
}

.select-wrapper input.select-dropdown {
    height: 40px;
}

.form-control:focus {
  border-color: #0a84ff !important;
  color: #0a84ff !important;
}

.btn-default {
    color: #fff;
    background-color: #0a84ff !important;
}

.btn-trip {
    color: #fff;
    background-color: #0a84ff !important;
}

.md-form textarea.md-textarea:focus:not([read_only]) {
  border-bottom: 1px solid #0a84ff;
  box-shadow: 0 1px 0 0 #0a84ff;
}

.md-form label.active {
  color: #0a84ff;
}

.md-form textarea.md-textarea:focus:not([readonly]) + label {
color:#0a84ff; }

.dropdown-default .dropdown-content li.active, .dropdown-default .dropdown-content li a, .dropdown-default .dropdown-content li span:hover {
    background-color:
    #0a84ff !important;
}

input:focus {
  border-bottom: 1px solid #0a84ff !important;
  box-shadow: 0 1px 0 0 #0a84ff !important;
}

input:focus + label {
  color: #0a84ff !important;
}

.md-form label:focus {
    color: #0a84ff!important;
}
.select-wrapper span.caret {
  color: #0a84ff!important;
}
